CONFIG_LOCALVERSION="-heads"
CONFIG_ANY_TOOLCHAIN=y
CONFIG_VENDOR_LENOVO=y
CONFIG_NO_POST=y
CONFIG_CBFS_SIZE=0x400000
CONFIG_BOARD_LENOVO_T430=y
CONFIG_TPM_MEASURED_BOOT=y
CONFIG_PAYLOAD_LINUX=y
CONFIG_PAYLOAD_FILE="../../build/t430-flash/bzImage"
CONFIG_LINUX_INITRD="../../build/t430-flash/initrd.cpio.xz"
